 
<h1>Project</h1>
<button routerLink="/project/add">Add Project</button>
<br><br>

<table border="1">
    <tr>
        <th>ProjectId</th>
        <th>ProjectName</th>
        <th>Description</th>
        <th>IsActive</th>
        <th>Change</th>
       
    </tr>
    <tr *ngFor="let project of projectList">
        <td>{{project.ProjectId}} </td>
        <td>{{project.ProjectName}} </td>
        <td>{{project.Description}} </td>
        <td>{{project.IsActive}} </td>
        <td>
           

            <button routerLink="/project/edit/{{project.ProjectId}}">Update</button>
            <button (click)="deleteProject(project)">Delete</button>
        </td>
    </tr>
</table>
