
    <header>
        <div class="container-fluid">
            <div class="row">
                <!--Logo -->
                <div class="col-md-3 col-sm-3">
                    <div class="header_logo"><a href="index"><img src="../../assets/images/logo.png" alt="" class="img-fluid" /></a></div>
                    <div class="sidebar_toggle"><button></button></div>
                </div>
                <!--End Logo -->
                <!-- Navigation -->
                <div class="col-md-9 col-sm-9">
                    <div class="user_dropdown">
                        <button class="dropdown-toggle" id="header" data-toggle="dropdown"
                            aria-haspopup="true" aria-expanded="true"><span class="letters">KM</span></button>
                        <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                            <li class="img_name">
                                <div class="name_email">Krupali Mistry
                                    <span>krupali.mistry@theopeneyes.in</span>
                                </div>
                            </li>
                            <li><a href="#"><i class="fa fa-edit"></i>My Profile</a></li>
                            <li><a href="#"><i class="fa fa-phone"></i>Contact Us</a></li>
                            <li class="sign_btn"><a class="theme_btn">Sign Out</a></li>
                        </ul>
                    </div>
                </div>
                <!-- End Navigation -->
                <div class="clearfix"></div>
            </div>
        </div>
    </header>