 
<!-- <div *ngFor="let employee of employeeList">
    <p>{{employee.EmployeeId}}  </p>
    <p> {{employee.EmployeeName}} </p>
</div> -->
<table border="1">
    <tr>
        <th>EmployeeId</th>
        <th>EmployeeName</th>
        <th>JoiningDate</th>
        <th>BirthDate </th>
        <th>Address</th>
        <th>PhoneNo </th>
        <th>Designation</th>
        <th>EmailId </th>
        <th>IsActive</th>
    </tr>
    <tr *ngFor="let employee of employeeList">
        <td>{{employee.EmployeeId}} </td>
        <td>{{employee.EmployeeName}} </td>
        <td>{{employee.JoiningDate}} </td>
        <td>{{employee.BirthDate}} </td>
        <td>{{employee.Address}} </td>
        <td>{{employee.PhoneNo}} </td>
        <td>{{employee.Designation}} </td>
        <td>{{employee.EmailId}} </td>
        <td>{{employee.IsActive}} </td>
    </tr>
</table>
