<h1>{{ header }} Task</h1>

<form role="form" #projectForm="ngForm" (ngSubmit)="projectForm.form.valid && Insertproject(projectForm)">

    <label>Employee Name</label>
    


    <!-- <select class='select-option' required class="form-control" #EmployeeId="ngModel"
    [(ngModel)]="taskEntity.EmployeeId" name="EmployeeId"
    [ngClass]="{red_border: (EmployeeId.dirty && EmployeeId.invalid) || (EmployeeId.pristine && submitted)}">
    <option value="" ngSelected='taskEntity.EmployeeId==""'>Select</option>
    <ng-container *ngFor='let jobtitle of jobtitleList'>
      <option class='option' [value]="jobtitle.EmployeeId" ngSelected="taskEntity.EmployeeId==jobtitle.EmployeeId">
        {{jobtitle.JobTitle}}</option>
    </ng-container>
  </select> -->


    <span *ngIf="projectForm.submitted && ProjectName.invalid">
        <span *ngIf="ProjectName.errors.required ">
          Project name is required
        </span>
        <span *ngIf=" ProjectName.errors.pattern || ProjectName.errors.maxlength  ">
          Project name is not valid
        </span>
    </span>
    <br>
   
   
    <label>Description</label>
    <textarea cols="25" rows="5" name="Description" #Description="ngModel" [(ngModel)]="projectEntity.Description"
        required></textarea><br>
    <span *ngIf="projectForm.submitted && Description.invalid">
        <span *ngIf="Description.errors.required  ">
          Description is required
        </span>
    </span>
    <br>
    
    
    
    <label>IsActive</label>
    <input type="radio" #IsActive="ngModel" [(ngModel)]="projectEntity.IsActive" name="IsActive" value="1"> Yes
    <input type="radio" #IsActive="ngModel" [(ngModel)]="projectEntity.IsActive" name="IsActive" value="0"> No<br>
    <br>
    <button type="submit"><span>{{button}}</span></button>
</form>