<div class="sidebar_wrap">
	<ul id="accordion" class="sidebar_box">
		<li class="sidebar_box_label"><span>Links</span></li>
		<li>
			<div id="heading3">
				<a data-toggle="collapse" class="collapsed" data-target="#collapse3" aria-expanded="true"
					aria-controls="collapse3">
					<i class="fa fa-user"></i><span class="text">Employee</span><span class="minus_plus"></span>
				</a> </div>
			<div id="collapse3" class="collapse" aria-labelledby="heading3" data-parent="#accordion">
				<ul class="sub_menu" id="child1">
					<li>
						<a routerLink="/employee/list" title="View" data-toggle="tooltip" data-placement="right"><i
								class="fa fa-user"></i><span class="text">View</span></a>
					</li>
					<li>
						<a routerLink="/employee/add" title="Add" data-toggle="tooltip" data-placement="right"><i
								class="fa fa-user"></i><span class="text">Add</span></a>
					</li>
				</ul>
			</div>
		</li>
		<li>
			<div id="heading3">
				<a data-toggle="collapse" class="collapsed" data-target="#collapse3" aria-expanded="true"
					aria-controls="collapse3">
					<i class="fa fa-user"></i><span class="text">Project</span><span class="minus_plus"></span>
				</a> </div>
			<div id="collapse3" class="collapse" aria-labelledby="heading3" data-parent="#accordion">
				<ul class="sub_menu" id="child1">
					<li>
						<a routerLink="/project/list" title="View" data-toggle="tooltip" data-placement="right"><i
								class="fa fa-user"></i><span class="text">View</span></a>
					</li>
					<li>
						<a routerLink="/project/add" title="Add" data-toggle="tooltip" data-placement="right"><i
								class="fa fa-user"></i><span class="text">Add</span></a>
					</li>
				</ul>
			</div>
		</li>
		<li>
			<div id="heading3">
				<a data-toggle="collapse" class="collapsed" data-target="#collapse3" aria-expanded="true"
					aria-controls="collapse3">
					<i class="fa fa-user"></i><span class="text">Task</span><span class="minus_plus"></span>
				</a> </div>
			<div id="collapse3" class="collapse" aria-labelledby="heading3" data-parent="#accordion">
				<ul class="sub_menu" id="child1">
					<li>
						<a routerLink="/task/list" title="View" data-toggle="tooltip" data-placement="right"><i
								class="fa fa-user"></i><span class="text">View</span></a>
					</li>
					<li>
						<a routerLink="/task/add" title="Add" data-toggle="tooltip" data-placement="right"><i
								class="fa fa-user"></i><span class="text">Add</span></a>
					</li>
				</ul>
			</div>
		</li>
	</ul>
</div>