<h1>Task</h1>
<button routerLink="/task/add">Add Task</button>
<br><br>

<table border="1">
    <tr>
        <th>DailyTaskId</th>
        <th>EmployeeName</th>
        <th>ProjectName</th>
        <th>TaskDate</th>
        <th>TaskDescription</th>
        <th>IsActive</th>
        <th>Change</th>

    </tr>
    <tr *ngFor="let task of taskList">
        <td>{{task.DailyTaskId}} </td>
        <td>{{task.EmployeeName}} </td>
        <td>{{task.ProjectName}} </td>
        <td>{{task.TaskDate}} </td>
        <td>{{task.TaskDescription}} </td>
        <td>{{task.IsActive}} </td>
        <td>
            <button routerLink="/task/edit/{{task.DailyTaskId}}">Update</button>
            <button (click)="deleteTask(task)">Delete</button>
        </td>
    </tr>
</table>